body {
    font-family: "Raleway", sans-serif;
    background-color: lightgrey;
    margin: 0;
    padding: 20px;
}

.chat_system {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

h1 {
    text-align: center;
}

#client_list, #messages {
    margin-bottom: 20px;
}

input[type="text"] {
    font-family: "Raleway", sans-serif;
    width: 75%;
    padding: 10px;
    margin-right: 10px;
}

button {
    font-family: "Raleway", sans-serif;
    padding: 10px;
}